# ------------------------------------
# 1. オシロスコープの巨大なCSVデータ
# Gitに上げても解析環境がないと使えないため、無視する
# ただし、元データはバックアップとして残したい場合は、この行を削除してください
testdata/ALL*.CSV

# ------------------------------------
# 2. 解析で自動生成されるファイル
# これらはコードを実行すればいつでも再作成できるため、無視する
output/
